body {
	background: #212121;
}
hr {
	background: #d5d1cc;
	border: 0.1rem solid #d5d1cc;
	border-radius: 3rem;
}
.ubuntu {
	text-align: center;
	position: relative;
}
#top-space {
	height: 20px;
}
#text-1 {
	text-align: center;
	font-family: Arial, Helvetica, monospace;
	font-size: 36px;
	color: #d5d1cc;
}
#text-2 {
	text-align: center;
	font-family: Arial, Helvetica ,monospace;
	font-size: 18px;
	color: #9d9588;
}
.ubuntu-img {
	height: 176px;
	width: 176px;
}
.rect-container {
	text-align: center;
}
#line {
	background-color: #fff;
	width: 100%;
}
#bottom-space {
	height: 280px;
}
header {
	background-color: #1e1e1e;
}
